* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 992px) {
    * {
      font-size: 16px;
    }
  }
  
@media screen and (max-width: 600px) {
    * {
      font-size: 10px;
    }
  }

section {
    margin: 5vh 15vw 5vh 15vw;
}

#container, #address-info{
    display: flex;
    flex-wrap: wrap;
}

#address-info{
    gap: 0.5vw;
}

.column{
    flex: 1;
    padding: 10px;
}

#address-info input{
    flex: 1;
}

button{
    width: 100%;
    color: red;
    border-color: red;
    border-radius: 5px;
    background-color: transparent;
    padding: 1.5vh 0 1.5vh 0;
    margin: 1vh 0 1vh 0;
    font-weight: bold;
    transition: 0.5s;
}

button:hover{
    transition: 0.5s;
    background-color: lightgray;
    filter: grayscale();
}

.column-header{
    background-color: rgb(151, 123, 87);
    padding: 1.5vh 1vw 1.5vh 1vw;
    margin: 1.5vh 0 1.5vh 0;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 992px) {
    .column {
      flex: 50%;
    }
  }

@media screen and (max-width: 600px) {
    #container {
        flex-direction: column;
    }
  }

textarea {
    resize: none;
    width: 100%;
    height: 8vh;
    margin: 0;
    padding: 0;
    border-radius: 5px;
 }
 
 input[type=text], input[type=password], input[list=countries]{
    width: 100%;
    height: 4vh;
    padding: 0;
    border-radius: 5px;
    margin: 1vh 0 1vh 0;
 }

 input[type=radio]{
    transform: scale(1.5);
    margin: 1vh 0.5vw 2vh 1vw;
 }

 input[type=checkbox]{
    margin: 2vh 1vw 2vh 1vw;
    transform: scale(1.5);
 }
 input{
    margin: 0.5vh 0 0.5vh 0;
    border-color: lightgray;
 }

 .address-input{
    width: 50%;
 }

 img {
    width: 2em;
    margin-right: 0.5vw;
 }

 .option{
    line-height: 4em;
 }


 .price {
    font-weight: bold;
    float: right;
 }

 #text{
    text-align: center;
    font-size: small;
    margin-bottom: 1.5vh;
 }

 .separator{
    border-top: 2px dotted gray;
    margin: 2vh 0 2vh 0;
 }

 .item {
    width: 100%;
    height: 5vh;
    margin-bottom: 2.5vh;
 }

 .item-photo{
    width: 20%;
    float: left;
    padding: 0;
 }

.item img{
    width: 100%;
}

 .item-info{
    float: right;
    width: 70%;
 }

 #summary div{
    margin: 1.5vh 1vw 1.5vh 1vw;
 }

 #summary div span{
    float: right;
 }

 .item-name {
     font-weight: bold;
 }